<h1><%= @cuisine.cuisine_type %></h1>
<form action="/cuisines/<%=@cuisine.id%>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button class="btn btn-default">Delete This Cuisine</button>
</form>
<br>

<% if @cuisine.restaurants.any? %>

<table class="table">
    <thead>
      <tr>
        <th>Restaurant Name</th>
        <th>Price Range (1-5)</th>
      </tr>
    </thead>
    <tbody>
      <% @cuisine.restaurants.each do |restaurant| %>

        <tr>
          <td><%=restaurant.name%></td>
          <td><%=restaurant.price%></td>
        </tr>

      <% end %>
    </tbody>
  </table>

<% else %>
<p>No restaurants have been added to this cuisine yet!</p>
<% end %>

<hr>
<a class = "btn btn-default" href="/restaurants/new">Add a Restaurant</a>
