<h5>Use this handy dandy application to keep track of restaurants in Portland that you would like to try!</h5>

<a class="btn btn-default" href="/cuisines">View Restaurants by Cuisine Type</a>
<br><br>
<a class="btn btn-default" href="/locations">View Restaurants by Location</a>
<br><br>
<a class="btn btn-default" href="/restaurants">View All Restaurants</a>
