<!-- List of all Restaurants -->
<% if @restaurants.any? %>

  <table class="table">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Price Range (1-5)</th>
        </tr>
      </thead>
      <tbody>
        <% @restaurants.each do |restaurant| %>

          <tr>
            <td><%=restaurant.name%></td>
            <td><%=restaurant.price%></td>
          </tr>

        <% end %>
      </tbody>
    </table>

<% else %>
  <p>No restaurants have been created yet!</p>
<% end %>
<hr>
